<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [33]:
# your code goes here
df.columns #nombre de la columnas del df
df.head() #primeros filas
#df.shape #tamaño del df
#df.duplicated() #devuelve lista de true para valore duplicados
df.duplicated(subset=['Respondent']).sum() #suma los valores duplicados en una columna especifica

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [38]:
# your code goes here
df_uni = df.drop_duplicates(inplace=True,keep='last') #elimina los duplicados
#keep mantiene los ultimos valores duplicados
len(df_uni['Respondent'].unique())#longitud de la serie con valores unicos de la columna

11398

Verify if duplicates were actually dropped.

In [17]:
# your code goes here
df_uni.head()
df.shape #tamaño del df original
df_uni.shape #tamaño del nuevo df

(11398, 85)

## Finding Missing values

Find the missing values for all columns.

In [30]:
# your code goes here
df_uni.isna() #regresa un df booleano, nan-true
df_uni.isna().sum() #suma cada columna el numero de nans

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [40]:
# your code goes here
df_uni[['WorkLoc']].isna().sum() #suma el numero de nan en la columna
#df_uni[['EdLevel']].isna().sum()
#df_uni[['Country']].isna().sum()

Country    0
dtype: int64

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [41]:
# your code goes here
df_uni[['WorkLoc']].isna().sum()

WorkLoc    32
dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [61]:
#make a note of the majority value here, for future reference
df_uni[['WorkLoc']].value_counts() #retorna un tabla con los valoores y su repticion en la columna
#df_uni[['Employment']].value_counts()
#df_uni[['UndergradMajor']].value_counts()

UndergradMajor
Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
dtype: int64

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [58]:
# your code goes here
df_uni[['WorkLoc']].fillna(value='Office')

                                              WorkLoc
0                                                Home
1                                              Office
2                                                Home
3                                                Home
4      Other place, such as a coworking space or cafe
...                                               ...
11547                                            Home
11548                                            Home
11549                                          Office
11550                                            Home
11551                                          Office

[11398 rows x 1 columns]

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [57]:
# your code goes here
#df_uni[['WorkLoc']].isna().sum()
df_uni[['WorkLoc']].value_counts()

WorkLoc    32
dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [68]:
# your code goes here
df_uni[['CompFreq']].value_counts()

CompFreq
Yearly      6073
Monthly     4788
Weekly       331
dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [1]:
# your code goes here
NormalizedAnnualCompensation = []

for i in range(len(df_uni)):
    if df_uni['CompFreq'].iloc[i] == 'Weekly':
        NormalizedAnnualCompensation.append(df_uni['CompTotal'].iloc[i]*52)
    elif df_uni['CompFreq'].iloc[i] == 'Monthly':
        NormalizedAnnualCompensation.append(df_uni['CompTotal'].iloc[i]*12)
    else:
        NormalizedAnnualCompensation.append(df_uni['CompTotal'].iloc[i])

df_uni['CompAnnual'] = NormalizedAnnualCompensation
df_uni.head()

NameError: name 'df_uni' is not defined

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).